body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 13rem;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: rgb(74, 74, 146);
  padding: 5rem;
  border-radius: 6%;
}
.searchButton {
  border-radius: 40%;
  background: lightblue;
}
